* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 500ms;
}

body {
	background: #27353f;
	height: 10000px;
	width: 100%;
}

ul {
	padding: 10px;
	margin-left: calc(50vw - 230px);
}

li {
	list-style-type: none;
	float: left;
	padding: 10px 10px;
	color: #686262;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

li:hover {
	color: #837c7c;
}

li:nth-child(1),
li:nth-child(2),
li:nth-child(3) {
	border-right: #313133 solid 2px;
}

video {
	width: 100%;
	height: 100%;
	position: relative;
}

.headingBar {
	min-height: 50px;
	background: inherit;
	/* position: fixed; */
}

.cover {
	width: 100%;
	height: 710px;
	opacity: 0.8;
	background: #19438a;
}

.cover > h1 {
	padding: 10% 0 0 0;
	opacity: 2;
	text-align: center;
	color: #ffffff;
	font-size: 100px;
}

.cover > p {
	font-size: 20px;
	color: white;
	text-align: center;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.profile {
	height: 400px;
	width: 100%;
	background: #183a75;
	/* padding-top: 250px; */
}

.profile > h1 {
	color: white;
	text-align: center;
	padding: 100px;
	font-size: 50px;
	/* padding: 0 50% 0 0; */
}

.profile > .foto {
	height: 300px;
	width: 300px;
	background: url("../img/hahaha.3f2717b08872.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-left: 200px;
	/* margin-top: 100px; */
	box-shadow: #383737 2px 5px 10px;
	float: left;
	/* margin-top: 200px; */
}

.profile > p {
	width: 300px;
	height: 300px;
	background-color: aliceblue;
	float: left;
	margin-left: 380px;
	border-radius: 20px;
	padding: 20px;
	font-family: "eurostile", sans-serif;
	font-weight: 800;
	/* margin-top: 200px; */
}

.slash {
	width: 50%;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	height: 1px;
	background-color: black;
	box-shadow: #f0f0f0 10px 10px 50px;
	margin-bottom: 100px;
}

.slash.exeption {
	width: 50%;
	margin-top: 300px;
	margin-left: 25%;
	margin-right: 25%;
	height: 1px;
	background-color: black;
	box-shadow: #f0f0f0 10px 10px 50px;
	margin-bottom: 100px;
}

.pendidikan {
	height: border-box;
	width: 100%;
	background: #183a75;
	padding: 10px;
	border-radius: 20px;
	font-family: "eurostile", sans-serif;
	color: white;
}

.pendidikan > h1 {
	text-align: center;
	padding: 10px;
}

.satuanPendidikan {
	padding: 50px 200px;
}

.satuanPendidikan > h1 {
	min-width: 200px;
	max-width: 700px;
	float: left;
	margin: 2px;
}

.satuanPendidikan > h2 {
	float: right;
}

.satuanPendidikan > p {
	clear: both;
}

/* .foto:hover {
	transform: scale(1.2);
} */

/* .content {
	height: 5000px;
	width: 100%;
	background: #000000;
} */
