<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {%endblock%}</title>
    <link rel="stylesheet" href="{% static 'src/base.css' %}">
    <link rel="stylesheet" href="{% static 'src/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'src/content.css' %}">
    <link rel="stylesheet" href="{% static 'src/footer.css' %}">

</head>

<body>
    {% include '../partials/header.html' %}
    {%block content%} {%endblock%}
    {% include '../partials/footer.html' %}


</body>

</html>