form {
    width: 50%;
    margin: 0 25%;
    text-align: center;
    /* height: 350px; */
    background: #4bcea1;

}

input {
    width: calc(100% - 80px);
    border: none;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
}

textarea {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    border: none;
}

button {
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    padding-top: 55px;
}

form {
    margin-top: 55px;
}

tr {
    text-align: center;
}

th:nth-child(1) {
    width: 20%
}

th:nth-child(2) {
    width: 30%
}

th:nth-child(3) {
    width: 40%;
}

th:nth-child(4) {
    width: 10%;
}

td {
    border: none;
}

.warning {
    background: rgb(192, 82, 82);
}