* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    overflow: hidden;
}

body {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li.active,
li.active:hover {
    background-color: #446968;
}

li.first {
    margin-top: 250px;
}

p {
    padding: 10px;
    font-size: 16px;
}

table {
    width: 100%;
}

td:nth-child(even) {
    width: 20%;
    background: red;
    color: white;

}

td:nth-child(odd) {
    width: 80%;
    background: rgb(150, 132, 132);
    color: white;
}

.biodataH1 {
    border-bottom: #000000 2px solid;
    width: 200px;
    margin-bottom: 20px;
}

.data {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}


.navbar {
    position: fixed;
    width: 200px;
    /* height: 100vh; */
    background: #60a9a6;
    display: block;
}

.navbar ul {
    height: 100vh;
    min-height: 372px;
}

.navbar>ul li {
    padding: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 500;
    font-size: 20px;
}


li:hover {
    background: #598887;
}

.fotoUtama {
    margin-left: 200px;
    height: 50vh;
    width: calc(100% - 200px);
    background: #caf2d7;
    min-height: 330px;
    padding: 20px 0;
}

.tampilanData {
    height: 50vh;
    margin-left: 200px;
    width: calc(100% - 200px);
    background: #f5fec0;
    overflow: auto;
}

.gambar {
    background: url("hahaha.3f2717b08872.jpg");
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: calc((100% - 250px) / 2);
    text-align: center;
    /* background-position-x: 30px; */
    /* background-position-y: -40px; */
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #b3afaf 2px 5px 10px
}

.tampilanNama {
    /* margin-left: calc((100% - 200px) / 2); */
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}