.navbar {
    width: 100%;
    background: #f0f0f0;
    height: 50px;

}

ul {
    padding: 10px;
    margin-left: calc(100% / 2 - 125px);
    height: inherit;
}

li {
    list-style-type: none;
    float: left;
    padding: 10px;
}